{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Buy and Sell{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Current Stocks and Prices</h3>
  <table>
      <tr>
          <th>Name</th>
          <th>Ticker</th>
          <th>Price</th>
      </tr>
      {% for TopStocks in TopStocks %}
      <tr>
          <td>{{ TopStocks[0] }}</td>
          <td>{{ TopStocks[1] }}</td>
          <td>${{ TopStocks[2] }}</td>
      </tr>
  {% endfor %}
  </table>
    </div>
    <div class="col">
      <header>
              <h3>Your Stocks - Total Value {{ value }}</h3>
      </header>
      <table>
          <tr>
              <th>Name</th>
              <th>StockTicker</th>
              <th>Amount</th>
              <th>Price</th>
              <th>TotalValue</th>
          </tr>
          {% for yourStocks in yourStocks %}
          <tr>
              <td>{{ yourStocks[0] }}</td>
              <td>{{ yourStocks[1] }}</td>
              <td>{{ yourStocks[2] }}</td>
              <td>${{ yourStocks[3] }}</td>
              <td>${{ yourStocks[4] }}</td>
          </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Buy</h1>
      <div class="row align-items-center">
        <form action="/buy" method="post">
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal">Select Stock</h1>
                  <select class="custom-select" name="stockId">
                    {% for TopStocks in TopStocks %}
                    <option value="{{ TopStocks[3] }}">{{ TopStocks[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal">Select Amount</h1>
                <input type="text" class="form-control" placeholder="Number of Shares" name="amount">
            </div>
          <br>
            <div class="row">
                <button class="btn btn-lg btn-info btn-block" type="submit">Purchase</button>
            </div>
        </form>
    </div>
    </div>
    <div class="col">
      <h1>Sell</h1>
      <div class="row align-items-center">
        <form action="/sell" method="post">
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal">Select Stock</h1>
                  <select class="custom-select" name="stockId">
                    {% for TopStocks in TopStocks %}
                    <option value="{{ TopStocks[3] }}">{{ TopStocks[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal">Select Amount</h1>
                <input type="text" class="form-control" placeholder="Number of Shares" name="amount">
            </div>
          <br>
            <div class="row">
                <button class="btn btn-lg btn-success btn-block" type="submit">Sell</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>




{% endblock %}