{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Top Stocks{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Ticker</th>
            <th>Price</th>
        </tr>
        {% for TopStocks in TopStocks %}
        <tr>
            <td>{{ TopStocks[0] }}</td>
            <td>{{ TopStocks[1] }}</td>
            <td>${{ TopStocks[2] }}</td>
        </tr>
    {% endfor %}
    </table>
    <header>
        <h1>Leaderboards</h1>
    </header>
    <table class="table">
        <tr>
            {% for name in names %}
            <th>{{ name }}</th>
            {% endfor %}
        </tr>

        <tr>
            {% for score in scores %}
            <td>{{ score }}</td>
            {% endfor %}
        </tr>

    </table>
    {% if g.user %}
        {% if yourStocks|length == 0 %}
        <header>
                <h1>You have no stocks, Visit <a href="{{ url_for('interactions.buysell') }}">Manage Stocks</a> to purchace some</h1>
        </header>
        {% else %}
        <header>
                <h1>Your Stocks - Total Value {{ value }}</h1>
        </header>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>StockTicker</th>
                <th>Amount</th>
                <th>Price</th>
                <th>TotalValue</th>
            </tr>
            {% for yourStocks in yourStocks %}
            <tr>
                <td>{{ yourStocks[0] }}</td>
                <td>{{ yourStocks[1] }}</td>
                <td>{{ yourStocks[2] }}</td>
                <td>${{ yourStocks[3] }}</td>
                <td>${{ yourStocks[4] }}</td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    {% else %}
        <header><h1>Please <a href="{{ url_for('auth.login') }}">log in</a> to See your Portfolio</h1></header>
    {% endif %}
{% endblock %}